// Font Family
$ffMs: 'Montserrat', sans-serif;

// Font Weights
$regularFw: 400;
$mediumFw: 500;
$boldFw: 700;

// Font Sizes
$copyright: 12px;
$small: 14px;
$regular: 16px;
$text: 18px;
$medium: 24px;
$big: 36px;
$title: 42px;
$huge: 64px;
$giant: 96px;

// Colors
$black: #000;
$blue: #53B1FF;
$green: #15A8AB;
$white: #fff;
$gradient: linear-gradient(180deg, #0072BB 0%, #00AAAD 100%);
